textarea {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
#suggest {
    /*border: 1px solid red;*/
    color: grey;
    position: absolute;
    white-space: pre;
}